/.mixin.out/
/cache/
/crash-reports/
/downloads/
/fonts/
/journeymap/
/local/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/TombManyGraves/
/shaderpacks/

*.dll
*.log
*.jar

minecraftinstance.json
options.txt
usercache.json
usernamecache.json
.ReAuth.cfg

config/jei/worldSettings.cfg