.mixin.out/
cache/
crash-reports/
fonts/
journeymap/
local/
logs/
mods/
resourcepacks/
saves/
screenshots/

*.dll
*.log
*.jar

minecraftinstance.json
options.txt
usercache.json
usernamecache.json
.ReAuth.cfg
